<html>
{% csrf_token %}
<head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />  
{% block extra_head %}{% endblock %}
</head>

<body>
{% block body %}{% endblock %}
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/csrf.js"></script>
{% block libraries_javascript %}{% endblock %}
{% block extra_javascript %}{% endblock %}
</html>
