
{% extends "base.html" %}

{% block body %} 

<h1>Event name: {{ event.name }}</h1>
<p>Event description: {{ event.description }}</p>
<p>Event date: {{ event.date }}</p>
<p>Event id: {{ event.id }}</p>

<div id="event_item_list">
    {% for event_item in event_item_list %}
    <p>{{ event_item.event_item_time }}</p>
    <p>{{ event_item.event_item_name }}</p>
    <p>{{ event_item.id }}</p>
    <input type="checkbox" id="{{ event_item.id }}"><br>
    {% endfor %}
</div>

<div>
<label for="participant_name">Name:</label>
<input id="participant_name" type="text" name="participant_name">
</div>

<div>
    <button id="add_participant" type="button">Add participant</button>
</div>

<p id="info_add_participant"></p>

{% endblock %}

{% block extra_javascript %}
<script type="text/javascript">
  
  var event_id = "{{event.id}}"; 

  $("#add_participant").click(function() {
    var selected_items = $.map($("#event_item_list input:checked"),function(t){return t.id;});
    var participant_name = $("#participant_name").val();

    var participant_data = {};
    participant_data.selected_items = selected_items;
    participant_data.participant_name = participant_name;
    participant_data.event_id = event_id;
    console.log(participant_data);

    $.ajax({
        url: "/add_participant/",
        type: "POST",
        data: JSON.stringify(participant_data),
        cache: true,
        success: function (data, textStatus, jqXHR) {
          $("#info_add_participant").text("Added new participant!");
          // if (data != -1) {
          //   window.location.replace("http://localhost:8000/event/"+data);
          //   }
        },
        complete: function (jqXHR, textStatus) {},
        error: function (data, textStatus, errorThrown) {
          $("#info_add_participant").text("Error with adding new participant!");
        }
    });

  });

</script>
{% endblock %}

