
{% extends "base.html" %}

{% block body %} 

<h1>Event name: {{ event.name }}</h1>
<p>Event description: {{ event.description }}</p>
<p>Event date: {{ event.date }}</p>
<p>Event id: {{ event.id }}</p>

<div>
    <button id="refresh_table" type="button">Refresh!</button>
</div>

<table id="event_table">
<tbody>
<tr id="event_table_header">
    <td></td>
    {% for event_item in event_item_list %}
    <td id="event_item_{{event_item.id}}">
        <p>{{ event_item.event_item_time }}</p>
        <p>{{ event_item.event_item_name }}</p>       
    </td>   
    {% endfor %}
</tr>
<tr id="new_participant">
    <td>
        <label for="participant_name">Name:</label>
        <input id="participant_name" type="text" name="participant_name">
    </td>
    {% for event_item in event_item_list %}
    <td>
        <input type="checkbox" id="{{ event_item.id }}">        
    </td>   
    {% endfor %}
</tr>
<tr>
    <td></td>
    {% for event_item in event_item_list %}
    <td id="stat_{{ event_item.id }}"></td>   
    {% endfor %}
</tr>
</tbody>
</table>

<div>
    <button id="add_participant" type="button">Add participant</button>
</div>

<p id="info"></p>

{% endblock %}

{% block extra_javascript %}
<script type="text/javascript">
  
  var event_id = "{{event.id}}"; 
  //console.log(event_id);
  var event_items_id = {{event_item_id_list}};
  
</script>
{% endblock %}

{% block libraries_javascript %} 
<script src="{{ STATIC_URL }}js/event_detail.js"></script>
{% endblock %}
