
{% extends "base.html" %}

{% block body %} 

<h1>Event name: {{ event.name }}</h1>
<p>Event description: {{ event.description }}</p>
<p>Event date: {{ event.date }}</p>
<p>Event id: {{ event.id }}</p>

<div id="event_item_list">
    {% for event_item in event_item_list %}
    <p>{{ event_item.event_item_time }}</p>
    <p>{{ event_item.event_item_name }}</p>
    <p>{{ event_item.id }}</p>
    <input type="checkbox" id="{{ event_item.id }}"><br>
    {% endfor %}
</div>

<div>
<label for="participant_name">Name:</label>
<input id="participant_name" type="text" name="participant_name">
</div>

<div>
    <button id="add_participant" type="button">Add participant</button>
</div>

<p id="info_add_participant"></p>

{% endblock %}

{% block extra_javascript %}
<script type="text/javascript">
  
  var event_id = "{{event.id}}"; 
  
</script>
{% endblock %}

{% block libraries_javascript %} 
<script src="{{ STATIC_URL }}js/event_detail.js"></script>
{% endblock %}
